link(rel="stylesheet" href="/stylesheets/index.css")
h2=question.title
div Asked 3 months ago Viewed #{question.views} times
form(action=`/` method="get")
    input(type="submit" value="Go Home")
form(action=`/questions` method="get")
    input(type="submit" value="Back To Questions")
hr
form(action=`/questions/${questionId}/vote` method="post")
input(type="submit" value="Upvote")
div #{question.votes} #{question.content}
form(action=`/questions/${questionId}/downvote` method="post")
input(type="submit" value="Downvote")
hr
br
div Answers
div
  each answer in answers
    ul
      li
          form(action=`/answer/${answer.id}/vote` method="post")
          input(type="submit" value="Upvote")
          div #{answer.votes} #{answer.content}
          form(action=`/answer/${answer.id}/downvote` method="post")
          input(type="submit" value="Downvote")
          hr

form(method="post" action=`/questions/${questionId}`)
    input(type='hidden' name='_csrf' value=csrfToken)
    div
      label(for="content") Your Answer
    div
      textarea(id="content" name="content" class="contentAnswer")
    div
      button(type='submit' class="button") Post Your Answer
