h2 Question
    p=question.title
    p=question.content
    p=question.views 
form(action=`/questions/${questionId}/answer` method="get")
    input(type="submit" value="Answer Question")

    div 
        each answer in answers  
            ul 
                li       
                    p=answer.content