head
  script(src="/javascripts/questions.js" type="module" defer)

link(rel="stylesheet" href="/stylesheets/index.css")
h2=question.title
div
  div Views: #{question.views}
  div(id="qVotes") Votes: #{question.votes}
p=question.content

button(id="vote-button" type='button')
  p='UP VOTE'
button(id="vote-down-button" type='button')
  p='DOWN VOTE'

div
  each answer in answers
    ul
      li
        p=answer.content
        div(id=`aVote-${answer.id}`) Votes: #{answer.votes}
        button(value=answer.id class="answer-vote-button" type='button')
          p='UP VOTE'
        button(value=answer.id class="answer-down-button" type='button')
          p='DOWN VOTE'

form(method="post" action=`/questions/${questionId}`)
    input(type='hidden' name='_csrf' value=csrfToken)
    div
      label(for="content") Your Answer
    div
      textarea(id="content" name="content" class="contentAnswer")
    div
      button(type='submit' class="button") Post Your Answer
