h2 Question
  p=question.title
  p=question.content
  p=question.views
form(action=`/questions/${questionId}/answer` method="get")
  input(type="submit" value="Answer Question")
form(action=`/questions/${questionId}/vote` method="post")
  input(type="submit" value="Upvote")

div
  p=question.votes

div
  each answer in answers
    ul
      li
        p=answer.content
        p=answer.votes
        form(action=`/answer/${answer.id}/vote` method="post")
          input(type="submit" value="Upvote")
