html
body
script(src='/javascripts/questions.js' type='module' defer)
div Question
    p=question.title
    p=question.content
    p=question.views

    div 
        each answer in answers  
            ul 
                li       
                    p=answer.content

form(method="post" action=`/questions/${questionId}`)
    input(type='hidden' name='_csrf' value=csrfToken)
    div
      label(for="content") Your Answer
    div
      textarea(id="content" name="content" class="contentAnswer")
    div
      button(type='submit') Post Your Answer
