extends nav-bar
include utils.pug
block head
  script(src="/javascripts/questions.js" type="module" defer)
  script(src="/javascripts/about.js" type="module" defer)
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylsheet" href="/stylesheets/questions-page.css")
block content
  div(class="content-container")
    div(id="left-panel")
      div(class="left-panel-links") 
        a(href=`/`) Home
        a(href=`/questions`) Questions
        a(href=`/about` id="aboutUs") About 
    div(id="mid-panel")
      div(id="mid-panel-top")
          h2=question.title
      div(id="questionContent")
          div(class="question-stats-panel")
            div(id="question-vote-form")
              form(action=`/questions/${questionId}/vote` method="post")
                input(type="image" src="/images/upvote.png" id="vote-button" class="votesBtn" value="Upvote" alt="submit")
              div#votes
                div#qVotes #{question.votes}
              form(action=`/questions/${questionId}/downvote` method="post")
                input(type="image" src="/images/downvote.png" id="vote-down-button" class="votesBtn" value="Downvote" alt="submit")
          div(class="question-content-preview-panel")
            div(id="questionBody") #{question.content}

      div(id="post-answer-on-question")
        +validationErrorSummary(errors)
        form(method="post" action=`/questions/${questionId}`)
          input(type='hidden' name='_csrf' value=csrfToken)
          div
            label(for="content") Your Answer
          textarea(id="content" name="content" class="contentAnswer")
          div
            button(type='submit' class="button") Post Your Answer
      div(id="mid-panel-main")
        each answer in answers
          div(class='answer-box')
            div(class="question-stats-panel")
              div(id="vote-panel")
                form(action=`/answer/${answer.id}/vote` method="post")
                  input(type="image" src="/images/upvote.png" class="votesBtn answer-vote-button" value=answer.id alt="submit")
                  div#votes
                  div(id=`aVote-${answer.id}`) #{answer.votes}
                  form(action=`/answer/${answer.id}/downvote` method="post")
                  input(type="image" src="/images/downvote.png" class="votesBtn answer-down-button" value=answer.id alt="submit") 
            div(class="answer-preview-panel")
              div(id="answerContent" style="overflow:scroll; height: 500px") #{answer.content}
              div(id="date-panel") #{answer.createdAt}

